<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Input Transactions</title>
  </head>
  <body>
      {% extends "parent.html" %}
      {% block content %}
    <h1> Input Transactions </h1>
    
        <form method="POST" name="input_form">
          <label>Sender</label>
          <input type="text" name="sender">

          <label>Receiver</label>
          <input type="text" name="receiver">

          <label>Value</label>
          <input type="text" name="value">

          <label>Note</label>
          <input type="text" name="note">

          <input type="submit" value="Submit">
        </form>
    {% endblock %}
  </body>
</html>